* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Jaldi', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 4rem;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    flex: 2;
    justify-content: left;
    align-items: center;
    padding-top: 0 1rem;
    padding-left: 2rem;
}

.navbar-tabs {
    display: flex;
}

.navbar-tab {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #344563;
}

.navbar-apps-button {
    font-size: 1.4rem;
    color: #344563;
    cursor: pointer;
}

.navbar-title {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 4rem;
    color: #344563;
}

.navbar-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 1rem;

}

.navbar-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #344563;
    cursor: pointer;
}

.sidebar {
    height: 100vh;
    width: 15rem;
    top: 4.3rem;
    background-color: #F6F8FB;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sidebar-heading {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.project-info {
    display: flex;
    align-items: center;
    width: auto;
}

.description {
    display: flex;
    flex-direction: column;
}

.project-name {
    color: #344563;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}

.project-description {
    color: #323f5578;
    font-size: 10px;
    font-weight: 900;
}


.project-image img {
    width: 30px;
    /* Make the image cover the entire container */
    height: 30px;
    /* Maintain the image's aspect ratio */
    margin-right: 1rem;
}

.sidebar-menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: #344563;
    width: 210px;
    height: 50px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.sidebar-menu-item:hover {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #ecf4fd;
    /* background-color: #e9e9e9; */
    width: 210px;
    height: 50px;
    padding-left: 2.5rem;
    color: #3C89FD;
    border-radius: 4px;
}

.sidebar-menu-item span {
    padding-left: 0.5rem;
    color: #344563;
    font-size: 16px;
}

.sidebar-menu-item.active {
    border-radius: 4px;
    border-left: 4px solid
}

.work-area-unbuilt {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 17rem;
}

.work-area {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: center;
    padding-left: 18rem;
}

.error {
    font-size: 3rem;
    font-weight: bold;
}

.error-msg {
    font-size: 1rem;
    color: #344563;
}


.breadcrumbs {
    padding-top: 2rem;
    font-size: 12px;
    color: #344563;
    margin-bottom: 1.5rem;
    margin-left: 10px;
}

.breadcrumbs span {
    padding-right: 5px;
}

.header-section {
    display: flex;
    flex-direction: row;
    /* padding-right: 5rem; */
}

.github-button {
    display: flex;
    align-items: center;
    background-color: rgba(43, 73, 127, 0.07);
    border-radius: 5px;
    border: 1px rgba(16, 27, 47, 0.805);
    width: 160px;
    height: 40px;
    color: #344563;
    font-size: 14px;
    cursor: pointer
}

.github-button:hover {
    display: flex;
    align-items: center;
    background-color: rgba(43, 73, 127, 0.07);
    border-radius: 5px;
    border: 1px rgba(16, 27, 47, 0.805);
    width: 160px;
    height: 40px;
    background-color: #ecf4fd;
    font-size: 14px;
    cursor: pointer;
}

.github-button span {
    margin-left: 10px;
    font-weight: 2px;
}

.github-button .github-icon {
    color: #3c5072;
    font-size: 25px;
    margin-left: 20px;
}


.boardtitle {
    margin-right: 47rem;
    margin-left: 10px;
    font-size: 22px;
    color: #344563;
    font-weight: 700;
    word-wrap: break-word
}

.single-list {
    background-color: rgba(43, 73, 127, 0.07);
    width: 16rem;
    height: 30rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.single-list span {
    margin-right: 7px;
    font-size: 13px;
    font-weight: 400;
}

.list-header {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #344563;
    font-size: 12px;
    font-weight: 900;
}

.single-list button {
    width: 95%;
    height: 32px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* background-color: rgba(43, 73, 127, 0.07); */
    background-color: rgba(196, 196, 196, 0.46);
    border-radius: 3px;
    border: 1px rgba(16, 27, 47, 0.805);
    color: #344563;
    font-size: 14px;
    cursor: pointer
}

.single-list button:hover{
    background-color: rgba(42.76, 73.08, 126.57, 0.07);
    border: 1px rgba(16, 27, 47, 0.805);
}

.new-issue-icon{
    margin-left: 10px;
    margin-right: 10px;
}



.issue-card {
    background-color: white;
    width: 95%;
    height: 120px;
    color: rgba(0, 0, 0, 0.721);
    font-size: 15px;
    margin: auto;
    margin-bottom: 5px;
    box-shadow: 0px 2px 2px #D9D9D9;
    border-radius: 5px;
}

.issue-description {
    font-size: 13px;
    margin-left: 12px;
    /* margin-top: 12px */
    padding-top: 12px;
}


.card-bottom {
    margin-top: 50px;
    margin-left: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.card-bottom .tag {
    margin-right: 120px;
    color: #3c537b;
    font-weight: 600;
}

.arrow {
    font-size: 30px;
}

.profile-icon {
    font-size: 30px;
}





.list-sections {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}