* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Jaldi', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat';
    /* font-family: 'CircularStdBook', sans-serif; */
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 4rem;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: fixed;
}

.navbar {
    display: flex;
    flex: 2;
    justify-content: left;
    align-items: center;
    padding-top: 0 1rem;
    padding-left: 2rem;
    position: fixed;
}

.navbar-tabs {
    display: flex;
}

.navbar-tab {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #344563;
}

.navbar-apps-button {
    font-size: 1.4rem;
    color: #344563;
    cursor: pointer;
}

.navbar-title {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 4rem;
    color: #344563;
}

.navbar-icons {
    display: flex;
    align-items: center;
    padding-top: 9px;
    margin-left: 45rem;
    /* margin-left: auto; */
    /* padding-right: 1rem; */
}

.navbar-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #344563;
    cursor: pointer;
}

.sidebar {
    height: 100vh;
    width: 15rem;
    top: 4.3rem;
    background-color: #F6F8FB;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sidebar-heading {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.project-info {
    display: flex;
    align-items: center;
    width: auto;
}

.description {
    display: flex;
    flex-direction: column;
}

.project-name {
    color: #344563;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}

.project-description {
    color: #323f5578;
    font-size: 10px;
    font-weight: 400;
}


.project-image img {
    width: 30px;
    /* Make the image cover the entire container */
    height: 30px;
    /* Maintain the image's aspect ratio */
    margin-right: 1rem;
}

.sidebar-menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: #344563;
    width: 210px;
    height: 50px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.sidebar-menu-item:hover {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #ecf4fd;
    /* background-color: #e9e9e9; */
    width: 210px;
    height: 50px;
    padding-left: 2.5rem;
    color: #3C89FD;
    border-radius: 4px;
    transition: background 0.1s ease 0s;
}

.sidebar-menu-item span {
    padding-left: 0.5rem;
    color: #344563;
    font-size: 16px;
}

.sidebar-menu-item.active {
    border-radius: 4px;
    border-left: 4px solid
}

.work-area-unbuilt {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23rem;
}

.work-area {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: center;
    padding-left: 18rem;
    padding-top: 4rem;
    /* margin-top: 6rem; */
}

.error {
    font-size: 3rem;
    font-weight: bold;
    color: #344563;
}

.error-msg {
    font-size: 1rem;
    color: #344563;
}


.breadcrumbs {
    padding-top: 2rem;
    font-size: 12px;
    color: #344563;
    margin-bottom: 1.5rem;
    margin-left: 10px;
}

.breadcrumbs span {
    padding-right: 5px;
}

.header-section {
    display: flex;
    flex-direction: row;
    /* padding-right: 5rem; */
}

.github-button {
    display: flex;
    align-items: center;
    background-color: rgba(43, 73, 127, 0.07);
    border-radius: 5px;
    border: 1px rgba(16, 27, 47, 0.805);
    width: 160px;
    height: 40px;
    color: #344563;
    font-size: 14px;
    cursor: pointer
}

.github-button:hover {
    display: flex;
    align-items: center;
    background-color: rgba(43, 73, 127, 0.07);
    border-radius: 5px;
    border: 1px rgba(16, 27, 47, 0.805);
    width: 160px;
    height: 40px;
    background-color: #ecf4fd;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.1s ease 0s;
}

.github-button span {
    margin-left: 10px;
    font-weight: 2px;
}

.github-button .github-icon {
    color: #3c5072;
    font-size: 25px;
    margin-left: 20px;
}


.boardtitle {
    margin-right: 47rem;
    margin-left: 10px;
    font-size: 22px;
    color: #344563;
    font-weight: 700;
    word-wrap: break-word;
    /* font-family: Montserrat; */
}

.single-list {
    /* background-color: rgba(43, 73, 127, 0.07); */
    background-color: rgba(244,245,247);
    width: 16rem;
    min-height: 30rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.single-list .heading {
    margin-right: 7px;
    font-size: 11px;
    font-weight: 600;
}

.list-header {
    margin-top: 12px;
    margin-bottom: 12px;
    /* margin-right: 111px; */
    color: #344563;
    /* font-size: 10px; */
    /* font-weight: 900; */
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: nowrap;
}

.single-list button {
    width: 95%;
    height: 32px;
    margin-top: auto;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    /* background-color: rgba(43, 73, 127, 0.07); */
    /* background-color: rgba(196, 196, 196, 0.46); */
    /* background-color: rgba(43, 73, 127, 0.07); */
    background-color: rgba(244,245,247);
    border-radius: 3px;
    border: 1px rgba(16, 27, 47, 0.805);
    color: #344563;
    font-size: 14px;
    cursor: pointer
}

.single-list button:hover{
    background-color: rgba(42.76, 73.08, 126.57, 0.07);
    border: 1px rgba(16, 27, 47, 0.805);
    transition: background 0.1s ease 0s;
}

.new-issue-icon{
    margin-left: 10px;
    margin-right: 10px;
}



.issue-card {
    background-color: white;
    width: 95%;
    height: 120px;
    color: rgba(0, 0, 0, 0.721);
    font-size: 15px;
    margin: auto;
    margin-bottom: 5px;
    box-shadow: 0px 2px 2px #D9D9D9;
    border-radius: 5px;
}

.issue-card:hover{
    background-color: rgba(244,245,247);
    color: #3c537b;
    transition: background 0.1s ease 0s;
}

.issue-card:hover .issue-description .icon{
    color: #3c537b;
    transition: background 0.1s ease 0s;
}

.issue-description {
    font-size: 13px;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.issue-description .description-text {
    flex-grow: 1; /* Allow the description to take up remaining space */
    margin-right: 15px;
}

.issue-description .icon {
    /* display: none; */
    margin-left: auto; /* Push the icon to the right side */
    width: 32px;
    height: 23px;
    font-size: 22px;
    color: #3c537b;
    color: #ffffff;
    cursor: pointer;
}

/* .issue-description .icon:hover{
    display: block;
    background-color: rgba(66, 82, 110, 0.122);
    border-radius: 2px;
} */


.card-bottom {
    margin-top: 50px;
    margin-left: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.card-bottom .tag {
    margin-right: 120px;
    color: #3c537b;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.card-bottom .tag .icon {
    margin-right: 5px; /* Adjust the spacing as needed */
  }
.arrow {
    font-size: 20px;
}

.profile-icon {
    font-size: 22px;
}





.list-sections {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}



.modal-overlay{
    position: fixed;
    overflow-y: auto;
    background-color: rgba(9, 30, 66, 0.54);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.modal-container{
    background-color: rgb(255, 255, 255);
    width: 50rem;
    /* min-height: 45rem; */
    /* overflow-y: auto; */
    border-radius: 3px;
    padding: 30px;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.modal-header{
    margin-bottom: 40px;
    color: #344563;
    font-size: 19px;
    font-weight: 500;
}

.modal-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-field label{
    color: rgba(83, 96, 117, 0.95);
    font-size: 12px;
    font-weight: 550;
    margin-bottom: 5px;
}

.form-field .label-hint{
    color: rgba(88, 101, 124, 0.788);
    font-size: 11px;
    font-weight: 420;
}

.form-field select,
.form-field input,
.form-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(23, 43, 77);
    background-color: rgb(244, 245, 247);
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    transition: background 0.1s ease 0s;
}

.issue-type{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-field textarea {
    resize: vertical;
    background-color: #ffffff;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
}

 .create-issue{
    align-items: center;
    margin-right: 7px;
    background-color: rgb(18, 99, 219);
    border-radius: 3px;
    border: 0.5px rgba(103, 110, 120, 0.805);
    width: 100px;
    height: 32px;
    color: #ffffff;
    font-size: 14.5px;
    cursor: pointer
}
 .cancel{
    align-items: center;
    margin-right: 7px;
    border-radius: 3px;
    border: 0.5px rgba(103, 110, 120, 0.805);
    width: 70px;
    height: 32px;
    background-color: white;
    color: #3c5072;
    font-size: 14.5px;
    cursor: pointer
}

.create-issue:hover{
    background-color: rgb(47, 121, 232) ;
    transition: background 0.1s ease 0s;
}
.cancel:hover{
        background-color:#ebebebb4;
        transition: background 0.1s ease 0s;
}

/* .modal-left{
    flex: 2;
    margin-right: 70px;
    display: flex;
    flex-direction: column;

}

.modal-right {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
} */